html,body{
    font-size: 43.75%;
    /* background-color: #333; */
}


#navRight {
 
    width: 20rem;
   
}
#navRight input{
 
    padding: 0.6rem 1.4rem;
    font-size: 2.2rem;
    width: 80%;
   
}
#navRight button{
    display: none;
}

#container {
    /* height: 80.0rem; */
    /* border: .2rem solid red; */
    display: grid;
    grid-template-rows: 19rem 45rem 9rem auto;
    grid-template-columns: 3rem 1fr 1fr 3rem;
    grid-template-areas:
        "firstHead firstHead firstHead firstHead"
        "firstCard firstCard firstCard firstCard"
        ". secondHead secondHead  ."
        ". secondCard secondCard .";

}

#firstHead{
    font-size: 5rem;
}

#input{
    width: 51rem;
}
.inputTxt{
    font-size: 2.5rem;
}

#input div textarea{
    height: 67%;
    width:44rem
}

.button{
    width: 16rem;
    padding: 0.3rem 0.5rem;
}

#secondHead{
    font-size: 2.8rem
}

#secondcardH1 h1{
    font-size: 3rem;
}

.inputCard{
    font-size: 2.5rem;
    flex-grow: 1;
}