/* html,body{
    font-size: 43.75%; 
     background-color: red;
} */

#container {
    /* height: 80.0rem; */
    /* border: .2rem solid red; */
    display: grid;
    grid-template-rows: 10.0rem 35.5rem 10.0rem auto;
    grid-template-columns: 22.0rem 1fr 1fr 22.0rem ;
    grid-template-areas:
        "firstHead firstHead firstHead firstHead"
        "firstCard firstCard firstCard firstCard"
        ". secondHead secondHead  ."
        ". secondCard secondCard .";

}