




/* ------------------------------------------------------------------------------------------------- */
/* --------------------------------navigation bar--------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------- */

/* navigation left */

#nav {
    
   
    width: 1264px;
}
#nav::before{
    
    
    width: 415px;
   
    
}



#logo {
    /* font-size: 60px; */
    font-size: 86px;

  
}


#navLeft li {
  
    margin: 85px 30px;
    font-size: 60px;
 
}








.socialMediaUl {    
    width: 330px;    
}








#socialMedia ul li:hover::after {
  
    width: 300px;
   
} 


/* Navigation right  */

#navRight {

    /* border: 2px solid red; */
    right: 116px;
    /* width: 315px; */
}

#navRight input {
  
    padding: 24px 33px;
    font-size: 52px;
    width: 322px;
  
}

#navRight button {
    display: none;
}



/* ------------------------------------------------------------------------------------------------- */
/* --------------------------------Section---------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------- */
#container {
    /* height: 800px; */
    /* border: 2px solid red; */
    display: grid;
    grid-template-rows: 415px 975px 150px auto;
    grid-template-columns: 135px 495px 495px 135px;
    grid-template-areas:
        "firstHead firstHead firstHead firstHead"
        "firstCard firstCard firstCard firstCard"
        ". secondHead secondHead  ."
        ". secondCard secondCard .";

}

#firstHead {
    grid-area: firstHead;
    font-size: 137px;
    width: 1257px;
    text-align: center;
    margin-top: 37px;
    letter-spacing: 3px;
    margin-left: 0px;

}

#firstCard {
    grid-area: firstCard;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    width: 1230px;
    margin: 20px 16px;


}



.inputTxt {
    border: 1px solid rgba(0, 0, 0, .125);
    /* border: none; */
    margin: 5px;
    margin-top: 30px;
    padding: 18px;
    padding-left: 15px;
    font-size: 60px;
    position: relative;
    right: 4px;
}





#input div textarea {
    margin-top: 1px;
    width: 1050px;
    height: 580px;
    resize: vertical;
}

.button {
  
    width: 300px;
    border-radius: 5px;


}



/* ------------------------------------------------------------------- */

#secondHead {
    grid-area: secondHead;
    border-top: 1px solid rgba(0, 0, 0, .125);
    /* yaha display flex nhee hone dena hai */

    text-align: center;
    font-size: 46px;
    margin-top: 20px;
    display: block;

}

#secondHead h2 {
left: 0px;
margin: 8px 0px;
}

/* -------------------------------------------------- */

#secondcard {
    grid-area: secondCard;
    /* border: 2px solid red; */
    display: flex;
    flex-flow: row wrap;
    margin-top: 25px;

}

#secondcardH1{
    /* height auto krdo koe preshani nhee  */
    font-size: 40px;
    text-align: justify;
}



.inputCard {
    
    width: 910px;
    padding: 24px;
    padding-left: 36px;
    font-size: 60px;
    margin: 15px 8px;
  
    
}





/* ------------------------------------------------------------------------------------------------- */
/* --------------------------------Footer----------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------- */

/* #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #212529;
    position: relative;
    height: 30px;
    margin-top: 15px;

} */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #212529;
    width: 100%;
    height: 30px;
    bottom: 0px;
    /* margin-top: 15px; */

    /* display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #212529;
    position: absolute;
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0px; */

}