@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0rem;
    padding: 0rem;

}



html ,body {
    font-family: 'PT Serif', serif;
    font-size: 62.5%;
    /* font-size: 10px; */
    display: flex;
    flex-direction: column;
    height: 100vh;

}




/* ------------------------------------------------------------------------------------------------- */
/* --------------------------------navigation bar--------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------- */

/* navigation left */

#nav {
    /* border: .2rem solid red; */
    background-color: #212529;
    display: flex;
    align-items: center;
    position: relative;
}
#nav::before{
    /* border: .2rem solid red; */
    content: '';
    position: absolute;
    width: 15.7rem;
    height: 100%;
    background-color: #495057;
    z-index: 0;
    
}

#navLeft {            
    display: flex;
    list-style: none;
    z-index: 3;
}

#logo {
    font-size: 3.0rem;
    transition: all ease-in-out 100ms;
    /* background-color: tomato; */
}
#logo:hover{
    color: black;
    /* background-color: tomato; */
}

#navLeft li {
    /* border: .2rem solid red;        */
    margin: 2.4rem 1.5rem;
    font-size: 2.2rem;
    color: white;
    transition: all ease-in-out 200ms;
}

#navLeft li:hover {
    /* border: .2rem solid red;        */

    color: rgb(209, 209, 209);
}

/* #socialMedia{
    cursor: pointer;
} */

#navLeft a {
    text-decoration: none;
    /* border: .2rem solid green; */
    color: inherit
}

.socialMediaUl {
    border: .1rem solid rgba(0, 0, 0, .125);
    border-radius: .9rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    position: absolute;
    background-color: white;
    list-style: none;
    width: 15.0rem;
    z-index: 1;
    display: none;
}

.socialMediaDisplay {
    display: block;
}



#socialMedia ul li {
    color: black;
    transition: all ease-in-out 150ms;
    
}

#socialMedia ul li a {
    color: inherit
}

#socialMedia ul li:hover {
    color: white;
    padding: .5rem .10rem;
    position: relative;
    
} 
#socialMedia ul li:hover::after {
    position: absolute;
    content: '';
    width: 15.0rem;
    height: 100%;
    top: 0;
    left: -1.5rem;
    background-color: #212529;
    z-index: -1;

} 


/* Navigation right  */

#navRight {
    position: absolute;
    /* border: .2rem solid red; */
    right: 0rem;
    width: 31.5rem;
}

#navRight input {
    border-radius: 0.7rem;
    padding: 0.7rem 1.4rem;
    font-size: 1.6rem;
    width: 60%;
    border: .1rem solid black;
}

#navRight button {
    border-radius: .7rem;
    padding: .8rem 1.3rem;
    font-size: 1.6rem;
    background: transparent;
    color: green;
    border: .2rem solid green;
    transition: all ease-in-out 200ms;
}

#navRight button:hover {
    background: green;
    color: white;
}

/* ------------------------------------------------------------------------------------------------- */
/* --------------------------------Section---------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------- */
#container {
    /* height: 80.0rem; */
    /* border: .2rem solid red; */
    display: grid;
    grid-template-rows: 10.0rem 35.5rem 10.0rem auto;
    grid-template-columns: 35.0rem 1fr 1fr 35.0rem ;
    grid-template-areas:
        "firstHead firstHead firstHead firstHead"
        "firstCard firstCard firstCard firstCard"
        ". secondHead secondHead  ."
        ". secondCard secondCard .";

}

#firstHead {
    grid-area: firstHead;
    /* border: .2rem solid black; */
    display: flex;
    /* justify-content: center; */
    margin-left: 35.0rem;
    font-size: 5.0rem;
    margin-top: 1.0rem;
    letter-spacing: .3rem;

}

#firstCard {
    grid-area: firstCard;
    /* border: .2rem solid black; */
    display: flex;
    justify-content: center;


}



#input {
    display: flex;
    justify-content: center;
    width: 120.0rem;
    border: .1rem solid rgba(0, 0, 0, .125);
}

#input div {
    display: flex;
    flex-direction: column;
}

.inputTxt {
    border: .1rem solid rgba(0, 0, 0, .125);
    /* border: none; */
    margin: .5rem;
    margin-top: 2.0rem;
    padding: .7rem;
    padding-left: 1.5rem;
    font-size: 2.1rem;
    position: relative;
    right: .4rem;
}

#input div input {
    border: none;
}

#input div input::placeholder {
    color: black;
}

#input div textarea {
    margin-top: .1rem;
    width: 112.5rem;
    height: 45%;
    resize: vertical;
}

.button {
    padding-left: .5rem;
    width: 11.0rem;
    background-color: #0e6efd;
    border-radius: .4rem;
    color: white;

}

.button:hover {

    background-color: rgb(13, 92, 211)
}

/* ------------------------------------------------------------------- */

#secondHead {
    grid-area: secondHead;
    border-top: .1rem solid rgba(0, 0, 0, .125);
    display: flex;
    font-size: 2.0rem;
    margin-top: 2.0rem;
    align-items: center;
}

#secondHead h2 {
    position: relative;
    left: 4.0rem;
}

#secondcard {
    grid-area: secondCard;
    /* border: .2rem solid red; */
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1.0rem;

}

.inputCard {
    border: .1rem solid rgba(0, 0, 0, .125);
    margin: .5rem .8rem;
    width: 25.0rem;
    padding: 1.0rem;
    padding-left: 1.5rem;
    display: inline-block;
   overflow-wrap: break-word;   
   flex-grow: 1;


   font-size: 1.6rem;
    
}



/* #secondcardH1{
    height: 25.4rem;
} */
#secondcardH1 h1{
    margin: 1.0rem;
    letter-spacing: .5rem;
    font-size: 2.4rem;

}

/* ------------------------------------------------------------------------------------------------- */
/* --------------------------------Footer----------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------- */


#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #212529;
    width: 100%;
    height: 6rem;
    font-size: 3rem;
    margin-top: auto;

  

}