@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0px;

}


html ,body {
    font-family: 'PT Serif', serif;
    height: 100%;
}


/* ------------------------------------------------------------------------------------------------- */
/* --------------------------------navigation bar--------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------- */

/* navigation left */

#nav {
    /* border: 2px solid red; */
    background-color: #212529;
    display: flex;
    align-items: center;
    position: relative;
}
#nav::before{
    /* border: 2px solid red; */
    content: '';
    position: absolute;
    width: 157px;
    height: 100%;
    background-color: #495057;
    z-index: 0;
    
}

#navLeft {            
    display: flex;
    list-style: none;
    z-index: 3;
}

#logo {
    font-size: 30px;
    transition: all ease-in-out 100ms;
    /* background-color: tomato; */
}
#logo:hover{
    color: black;
    /* background-color: tomato; */
}

#navLeft li {
    /* border: 2px solid red;        */
    margin: 24px 15px;
    font-size: 22px;
    color: white;
    transition: all ease-in-out 200ms;
}

#navLeft li:hover {
    /* border: 2px solid red;        */

    color: rgb(209, 209, 209);
}

/* #socialMedia{
    cursor: pointer;
} */

#navLeft a {
    text-decoration: none;
    /* border: 2px solid green; */
    color: inherit
}

.socialMediaUl {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 9px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    position: absolute;
    background-color: white;
    list-style: none;
    width: 150px;
    z-index: 1;
    display: none;
}

.socialMediaDisplay {
    display: block;
}



#socialMedia ul li {
    color: black;
    transition: all ease-in-out 150ms;
    
}

#socialMedia ul li a {
    color: inherit
}

#socialMedia ul li:hover {
    color: white;
    padding: 5px 10px;
    position: relative;
    
} 
#socialMedia ul li:hover::after {
    position: absolute;
    content: '';
    width: 150px;
    height: 100%;
    top: 0;
    left: -15px;
    background-color: #212529;
    z-index: -1;

} 


/* Navigation right  */

#navRight {
    position: absolute;
    /* border: 2px solid red; */
    right: 0px;
    width: 315px;
}

#navRight input {
    border-radius: 7px;
    padding: 7px 14px;
    font-size: 16px;
    width: 60%;
    border: 1px solid black;
}

#navRight button {
    border-radius: 7px;
    padding: 8px 13px;
    font-size: 16px;
    background: transparent;
    color: green;
    border: 2px solid green;
    transition: all ease-in-out 200ms;
}

#navRight button:hover {
    background: green;
    color: white;
}

/* ------------------------------------------------------------------------------------------------- */
/* --------------------------------Section---------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------- */
#container {
    /* height: 800px; */
    /* border: 2px solid red; */
    display: grid;
    grid-template-rows: 100px 355px 100px auto;
    grid-template-columns: 350px 1fr 1fr 350px ;
    grid-template-areas:
        "firstHead firstHead firstHead firstHead"
        "firstCard firstCard firstCard firstCard"
        ". secondHead secondHead  ."
        ". secondCard secondCard .";

}

#firstHead {
    grid-area: firstHead;
    /* border: 2px solid black; */
    display: flex;
    /* justify-content: center; */
    margin-left: 350px;
    font-size: 50px;
    margin-top: 10px;
    letter-spacing: 3px;

}

#firstCard {
    grid-area: firstCard;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;


}



#input {
    display: flex;
    justify-content: center;
    width: 1200px;
    border: 1px solid rgba(0, 0, 0, .125);
}

#input div {
    display: flex;
    flex-direction: column;
}

.inputTxt {
    border: 1px solid rgba(0, 0, 0, .125);
    /* border: none; */
    margin: 5px;
    margin-top: 20px;
    padding: 7px;
    padding-left: 15px;
    font-size: 21px;
    position: relative;
    right: 4px;
}

#input div input {
    border: none;
}

#input div input::placeholder {
    color: black;
}

#input div textarea {
    margin-top: 1px;
    width: 1125px;
    height: 45%;
    resize: vertical;
}

.button {
    padding-left: 5px;
    width: 110px;
    background-color: #0e6efd;
    border-radius: 4px;
    color: white;

}

.button:hover {

    background-color: rgb(13, 92, 211)
}

/* ------------------------------------------------------------------- */

#secondHead {
    grid-area: secondHead;
    border-top: 1px solid rgba(0, 0, 0, .125);
    display: flex;
    font-size: 20px;
    margin-top: 20px;
    align-items: center;
}

#secondHead h2 {
    position: relative;
    left: 40px;
}

#secondcard {
    grid-area: secondCard;
    /* border: 2px solid red; */
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;

}

.inputCard {
    border: 1px solid rgba(0, 0, 0, .125);
    margin: 5px 8px;
    width: 250px;
    padding: 10px;
    padding-left: 15px;
    display: inline-block;
   overflow-wrap: break-word;   
    
}



/* #secondcardH1{
    height: 254px;
} */
#secondcardH1 h1{
    margin: 10px;
    letter-spacing: 5px;

}

/* ------------------------------------------------------------------------------------------------- */
/* --------------------------------Footer----------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------- */

/* #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #212529;
    position: relative;
    height: 30px;
    margin-top: 15px;

} */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #212529;
    width: 100%;
    height: 30px;
    bottom: 0px;
    /* margin-top: 15px; */

    /* display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #212529;
    position: absolute;
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0px; */

}